.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}

/* clearfix */
.container::after {
    content: '';
    display: block;
    clear: both;
}

.left {float: left; width: 50%;}
.right {float: right; width: 50%;}

/* 
    list-style-type
    : 마커(기호) 유형을 지정하는 속성
*/

ul.a {list-style-type:  circle;}
ul.b {list-style-type:  disc;}
ul.c {list-style-type:  square;}
ul.d {list-style-type:  none;}

ol.a{list-style-type: lower-alpha;}
ol.b{list-style-type: upper-alpha;}
ol.c{list-style-type: lower-roman;}
ol.d{list-style-type: upper-roman;}
ol.e{list-style-type: decimal;}
ol.e{list-style-type: decimal-leading-zero;}
ol.none {list-style-type: none;}

/* list-style-position */
.inside, .outside {list-style-image: url(../img/food.png);}
.inside {list-style-position: inside;}
.outside {list-style-position: outside;}

/* list-style-image */
.check {list-style-image: url(../img/check.png);}
.cancel {list-style-image: url(../img/cancel.png);}

.food li {
    list-style-type: none;
    position: relative;
}

.food li::before {
    content: url('../img/food.png');
    position: absolute;
    left: -30px;
    top: 3px;
}
