.container {
    position: relative;
    width: 1200px;
    border: 3px dashed hotpink;
    margin: auto;
}

header {
    width: 100%;
    height: 80px;
    border: 3px solid gray;
    background-color: slateblue;
}

section {
    width: 900px;
    height: 200px;
    border: 3px solid salmon;
    margin: auto;
}

footer {
    width: 100%;
    height: 150px;
    border: 3px solid red;
    background-color: aqua;
    margin: auto;
}
