.container {
    position: relative;
    width: 1200px;
    border: 3px dashed red;
    margin: auto;
}

section {
    /* inherit: 부모요소의 지정값을 물려받아 적용 */
    /* 
        현재 부모 요소: container
        현재 해당 요소: section
     */
     width: 900px;
     height: 200px;
     border: 3px solid gray;
     margin: inherit; /* 부모요소 container로부터 margin을 상속받아 auto가 적용됨 */
     
}