.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed red;
}

li {
    display: inline; /* width, height 적용 X */
    display: inline-block; /* width, height 적용O */
    /* inline       : 크기X, 여백O, 한줄 나란히 배치 */
    /* block        : 크기O, 여백O, 세로로 쌓여서 배치 */
    /* inline-block : 크기O, 여백O, 한 줄 나란히 배치  */
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 10px 20px;
    text-align: center;
}

li:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* 화면에 보이지 않게 지정 */
.none { display: none;} /* none은 레이아웃 자체가 없음 자리가 아예 빠짐 */
.hidden {visibility: hidden;} /* hidden은 레이아웃은 잡히고 노출만 안됨 */


/* grid */
.grid-container {
    display: grid;
    /* 
        grid-templates-columns
        : Grid 레이아웃의 열 크기를 지정하는 속성
        (여기서는 3개의 열의 크기를 auto로 지정)
    */
    grid-template-columns: auto auto auto;
    background-color: royalblue;
    padding: 10px;
}

.grid-container.item {
    background-color: gold;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

/* flex */
.flex-container {display: flex;}

.flex-container.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.flex-container.item {
    height: auto;
    box-sizing: border-box; /* 여러 요소에 의해 컨텐츠 크기가 결정됨 */
}
.item img {width: 100%;}